.App {
  text-align: center;
  color: #475053;
  padding: 40px;
  background: #f0fbff;
}

h1 {
  font-size: 72px;
}

form {
  padding: 30px;
}
h2 {
  font-size: 56px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.submitButton {
  background: #2e94b9;
  color: #f0fbff;
  border: #2e94b9;
  border-radius: 5%;
  margin: 20px;
  padding: 5px 10px;
  font-weight: 600;
  box-shadow: #475053;
}

.phoneticAudio {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 20px;
}

.phoneticText {
  font-size: 22px;
}

h3 {
  margin-top: 24px;
  margin-bottom: 20px;
  font-size: 40px;
}

.Synonyms {
  list-style: none;
}

.synonymList {
  padding-right: 20px;
  opacity: 0.7;
}

.definition {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  line-height: 2;
  border: 2px solid #2e94b9;
  border-radius: 5px;
  box-shadow: 3px 3px 3px lightgray;
  background: #f5fafc;
}

.example {
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
}

.eachDefinition {
  font-size: 20px;
}

img {
  display: block;
}
